*{
  background-color: black;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-size: 22px;
  opacity: 0.9;
}


h2{
  font-size: 26px;
}

h4{
  font-size: 18px;
}

.menu{
  width: 150px;
}



.logoimg{
  height: 50px;
  padding-left: 10px;
}

.box
{
  background-color: green;
  border: 2px solid red;
  height: 22px;

}

.container
{
  display: flex;
  align-items: center;
  height: 69px;
  width: 100%;

}
.logo
{
  height: 50px;
  text-align: left;
  width: 200px;

}
.empty{
  width: 400px;
  flex-shrink: 5;
  flex-grow: 1;
}

.mainimage
{
  display: flex;
  background-image: url("img-mission-background.jpg");
  background-color: white;
  width: 1200px;
  height: 700px;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.missionstatemant
{
  width: 100%;
  background-color: black;
  opacity: 1;
}
.missionstatemant h2
{
  margin-bottom: 0px;
  margin-top: 15px;
}

.missionstatemant h4
{
  margin-top: 5px;
  margin-bottom: 15px;
}

}
.bigcontainer
{
  width: 100%;
}
.picsarea1
{
  display: flex;
  background-color: white;
  width: 1000px;
  justify-content: space-around;
  margin: 0 auto;
}
.picsarea2
{
  position: relative;
  top: 20px;
  display: flex;
  background-color: white;
  width: 800px;
  justify-content: space-around;
  margin: 0 auto;
}

.image
{
  width: 300px;
  height: 232px;
}
div {
  border: 2px solid white;
}

div.bigcontainer2  {
  border-color: blue;
  margin-top: 50px;
}
img.smallimg
{
  width: 300px;
  height: 200px;
}
.image h4
{
  margin-top: 10px;
}
